{% extends "base.html" %}
{% block content_title %}{% endblock %}
{% block content %}
  <header class="home">
    <a href="{{ SITEURL }}/">
      <h1>{{ SITENAME }}</h1>
    </a>
    <p>Hi, I'm <a href="/about.html">Andrey Antukh</a>. Software engineer.
      Highly interested in functional programming paradigms.
      <a href="https://funcool.github.io/clojurescript-unraveled/">ClojureScript Unraveled</a>
      book Co-Author and <a href="https://github.com/funcool">github/funcool</a>
      org main developer.

      <br />
      <br />

      Working hard on
      <a href="https://twitter.com/penpotapp">@penpotapp</a> at
      <a href="https://twitter.com/kaleidosnet">@kaleidosnet</a>.
      <br />
      <br />
    </p>
  </header>

  <section class="article-list">
    {% if articles %}
      <ol>
        {% for article in articles %}
          <li>
            <span class="article-date">{{ article.date|strftime('%d %b %Y') }}</span>
            <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title}}">{{ article.title }}</a>
          </li>
        {% endfor %}
      </ol>
    {% else %}
      No posts found.
    {% endif %}
  </section>
{% endblock content %}
